# .bazelrc
# This files main purpose is to form groups of options
# that can then be used on command line.
# Documentation for this can be found at
# https://docs.bazel.build/versions/master/user-manual.html
#
# this line makes bazel output the test log in case of errors
test --test_output=errors

# executing the command:
# bazel build lib:CommunicationModule --config=328p
# would lead to appending all of the options below on command line
build:328p --crosstool_top=@AVR_Toolchain//:toolchain
build:328p --cpu=avr
build:328p --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:328p --define MCU=atmega328p
build:328p --copt -DF_CPU=16000000
build:328p --copt -DBAUD=9600

build:32u4 --crosstool_top=@AVR_Toolchain//:toolchain
build:32u4 --cpu=avr
build:32u4 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:32u4 --define MCU=atmega32u4
build:32u4 --copt -DF_CPU=8000000
build:32u4 --copt -DBAUD=9600
