# .bazelrc
# This files main purpose is to form groups of options
# that can then be used on command line.
# Documentation for this can be found at
# https://docs.bazel.build/versions/master/user-manual.html
#
# this line makes bazel output the test log in case of errors
test --test_output=errors

try-import user.bazelrc